:root{
  --primary : #b71c1c;
  --primary-light: #f05545;
  --primary-dark : #7f0000;
  --secondary : #37474f;
  --secondary-light :#62727b ;
  --secondary-dark :#102027 ;
  --floor : #F2F2F2;
}

*{
  box-sizing: border-box;
}

body{
  margin:0;
  background: var(--floor);
}
.navbar{
  background-color: var(--primary-dark);
 padding-top: 10px; 
}
.fb_title_name{
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center !important;
  font-family: 'Gloria Hallelujah', cursive;
  
}
.login-input{
  padding: 5px;
  margin-left: 4px;
  width: 100%;
  box-sizing: border-box;
}
.nav-link{
  color : white;
  font-family: 'Cairo', sans-serif !important;
  text-decoration: none;
}
.create-article-label{
  font-family: 'Cairo', sans-serif !important;
  font-size: 22px;
  margin-top : 15px !important;
}
.description{
  font-family: 'Lalezar', cursive;
font-size: 50px;
color:white;

margin: 0;
padding: 0;
padding-top: 20px; 

}
.sign-up-btn{
  background-color: var(--secondary-dark) !important;
  color: white !important;
  font-size: 20px !important;
  font-family: 'Cairo', sans-serif !important;
  width : 200px;
}
/* For mobile phones */
@media only screen and (max-width: 768px) {
  .navbar{
     
      padding: 5px;
  }
  .description{
    font-size: 35px;
  }
}