:root{
  --primary : #b71c1c;
  --primary-light: #f05545;
  --primary-dark : #7f0000;
  --secondary : #37474f;
  --secondary-light :#62727b ;
  --secondary-dark :#102027 ;
  --floor : #F2F2F2;
}

*{
  box-sizing: border-box;
}

body{
  margin:0;
  background: var(--floor);
}
.navbar{
  background-color: var(--primary);
  padding: 15px;
}
.fb_title_name{
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center !important;
  font-family: 'Gloria Hallelujah', cursive;
  
}
.login-input{
  padding: 5px;
  margin-left: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
  .navbar{
     
      padding: 5px;
  }
}